body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}
.header {
    background-color: #101010;
    color: white;
    padding: 30px 0;
}
.header h1 {
    font-size: 2.5rem;
}
.section {
    margin-bottom: 30px;
}
.section h2 {
    color: #6cb5be;
    margin-bottom: 20px;
    font-size: 1.75rem;
}
.footer a:hover {
    color: #6cb5be;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer i:hover{
    color: #6cb5be;
}
.text-link {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.text-link:hover {
    color: #6cb5be;        
}
.navbar {
    background: linear-gradient(90deg, #000000, #101010);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
.navbar-brand:hover {
    color: #6cb5be;
    transform: scale(1.05);
}
.nav-link {
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.nav-link:hover {
    color: #6cb5be;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
.navbar.scrolled {
    background: #343a40 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.navbar-collapse {
    text-align: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown-menu{
    background-color: #000000;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: #6cb5be;
}
.star-profile:hover{
    color: #6cb5be;
}
