.privacyContainer {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.header {
    background-color: #101010;
    color: white;
    text-align: center;
}
.mainContent {
    padding: 60px 30px;
}

.textContainer h1 {
    font-size: 2.5rem;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    color: #6cb5be;
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.section p,
.section ul {
    font-size: 1rem;
    line-height: 1.6;
}
